.top-wrapper{
	padding-top:300px;
	background-image:url(img/top.jpg);
	background-size:cover;
	opacity:0.9;
}

.top-wrapper h1{
	font-size:60px;
	letter-spacing:6px;
	line-height:80px;
}

.top-wrapper p{
	font-weight:bold;
}

.yoyoyo{
	margin-top:100px;
	background-color:rgba(0, 144, 168, 0.8);
	transition:0.3s;
}

.yoyoyo:hover{
background-color:#0090a8;
}

.work-wrapper{
	padding-bottom:50px;
	background-color:#f6f6f6;
	text-align:center;
}

.work{
	display:block;
	width:25%;
	padding:10px 10px;
	border-radius:10px;
	margin-bottom:100px;
	background-color:#efdfff;
	box-shadow:3px 3px #eee;
	float:left;
}

.work:hover{
	opacity:0.8;
}

.work:active{
	position:relative;
	top:3px;
	left:3px;
	box-shadow:none;
}

.genre{
	height:25px;
}

.genre p{
	line-height:25px;
	font-weight:bold;
	margin-left:5px;
	color:#fff;
	display:inline;
}

.c{
	background-color:#9a4fe9;
}

.title{
	height:50px;
}

.title p{
	display:inline;
	font-size:30px;
	font-weight:bold;
	line-height:50px;
	color:#5c5c5c;
}

.work img{
	width:60%;
}

.txt-contents{
	width:80%;
	font-size:15px;
	line-height:17px;
	display:inline-block;
	color:#5c5c5c;
}

@media(max-width:959px){
	.top-wrapper h1{
		font-size:45px;
		line-height:70px;
	}

	.top-wrapper p{
		font-weight:normal;
	}

  .work{
    width:50%;
  }
}

@media(max-width:559px){
	.top-wrapper h1{
		font-size:35px;
		letter-spacing:3px;
		line-height:50px;
	}

	.top-wrapper p{
		font-size:15px;
	}

	.yoyoyo{
		width:100%;
	}

  .work{
    width:100%;
  }
}
