.tytle{
	width:1300px;
	font-size:25px;
	text-align:center;
	padding:50px 0px;
	border-bottom:3px double #c0c0c0;
	margin-bottom:50px;
	float:left;
}

.tytle a{
	display:block;
	color:#fff;
	background-color:#0090a8;
	padding:10px;
	border-bottom:5px solid #196e7c;
	border-radius:10px;
	margin-top:3px;
	margin-right:50px;
	text-decoration:none;
	float:right;
}

.tytle a:hover{
	margin-top:0px;
	border-bottom:8px solid #196e7c;
}

.tytle a:active{
	margin-top:8px;
	border-bottom:0px;
}

h1{
	margin-left:550px;
	margin-top:100px;
}

.object{
	width:400px;
	height:530px;
	border:3px solid #000;
	margin:20px 13px;
	float:left;
}

.c{
	width:400px;
	height:30px;
	background-color:#9a4fe9;
}

.object p{
	display:inline;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	padding-left:5px;
}

.image{
	width:400px;
	height:400px;
	background-image:url(nav/C/img/othello.png);
	background-size:contain;
	background-repeat:no-repeat;
}

.content{
	width:400px;
	height:100px;
	text-align:center;
}

.content a{
	font-size:40px;
	font-weight:bold;
	border-bottom:5px double #0090a8;
	color:#000;
	text-decoration:none;
	transition:0.2s;
}

.content a:hover{
	color:#0090a8;
	padding:0px 30px;
}
