.top-wrapper{
  padding-top:160px;
  padding-bottom:100px;
  color:#000;
}

.contact-wrapper{
  padding:50px 0px;
  background-color:#f6f6f6;
}
.contact{
  width:50%;
  margin:20px auto;
}

.contact p{
  margin-bottom:10px;
  font-size:20px;
  color:#5c5c5c;
}

textarea{
  height:100px;
  width:100%;
}

.form{
  padding:5px 10px;
}

.submit{
  width:100px;
  background-color:rgba(0, 144, 168, 0.8);
  transition:0.3s;
  cursor:pointer;
}

.submit:hover{
  background-color:#0090a8;
}

.center{
  text-align:center;
}
