*{
	font-family:"Hiragino Kaku Gothic ProN";
	margin:0px;
	padding:0px;
	line-height:1em;
	box-sizing:border-box;
}

.clear{
	clear:left;
}

.container{
	max-width:1280px;
	width:100%;
	padding:0px 10px;
	margin:0px auto;
}

.btn{
	border-radius:5px;
	padding:10px 10px;
	color:#fff;
	display:inline-block;
	text-align:center;
	text-decoration:none;
}

h2{
	font-size:30px;
	font-weight:normal;
}

h3{
	font-size:20px;
	font-weight:normal;
	margin:10px 0px;
}


header{
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
	border-top:5px solid #0090a8;
	background-color:#fff;
	position:fixed;
	top:0px;
	z-index:10;
}

.header-left{
	float:left;
}

.header-left h1{
	font-size:50px;
	letter-spacing:3px;
	display:inline;
}

.logo{
	height:50px;
}

.header-left a{
	text-decoration:none;
	color:#000;
}

.header-left a:hover{
	opacity:0.8;
}

.header-right{
	float:right;
}

.header-right img{
	display:inline-block;
	height:50px;
	border-radius:10px;
	margin-right:20px;
}

.header-right img:hover{
	opacity:0.8;
}

.header-right img:active{
	box-shadow:none;
	position:relative;
	top:5px;
}

.line{
	box-shadow:0px 5px #109010;
}

.twitter{
	box-shadow:0px 5px #1479b8;
}

.facebook{
	box-shadow:0px 5px #1a3774;
}

.nav1{
	width:100%;
	background-color:#0090a8;
	position:fixed;
	top:85px;
	z-index:10;
	text-align:center;
}

.nav1 a{
	display:inline-block;
	width:16%;
	font-size:20px;
	padding:10px 0px;
	border-bottom:0px;
	color:#fff;
	background-color:#0090a8;
	text-align:center;
	text-decoration:none;
	transition:0.3s;
}

.nav1 a:hover{
	color:#000;
	padding-bottom:5px;
}

.C:hover{
	border-bottom:5px solid #9a4fe9;
	background-color:#efdfff;
}

.HTMLCSS:hover{
	border-bottom:5px solid #49ba80;
	background-color:#afffd6;
}

.JavaScript:hover{
	border-bottom:5px solid #274eb1;
	background-color:#b9caf6;
}

.Ruby:hover{
	border-bottom:5px solid #e23254;
	background-color:#fbb2c0;
}

.Java:hover{
	border-bottom:5px solid #9d793c;
	background-color:#e0c79c;
}

.Python:hover{
	border-bottom:5px solid #00b6e2;
	background-color:#a3ecfc;
}

article{
	width:100%;
}

footer{
	height:100px;
	width:100%;
	background-color:#000;
}

.footer-left{
	letter-spacing:3px;
	color:#fff;
	float:left;
}

.footer-right{
	float:right;
}

.link{
	font-size:15px;
	padding-top:30px;
	padding-bottom:5px;
	border-bottom:2px solid #fff;
	margin-right:30px;
	color:#fff;
	transition:0.2s;
	display:inline-block;
	text-decoration:none;
}

.link:hover{
	padding-bottom:10px;
}
