body{
	width:1300px;
	margin-left:auto;
	margin-right:auto;
}

span{
	color:#0090a8;
}

header{
	height:100px;
	border-top:5px solid #0090a8;
}

header a{
	margin-left:30px;
	float:left;
}

header img{
	width:48px;
	height:48px;
	margin:1px;
	float:left;
}

.img1{
	border-radius:0% 100% 0% 100%;
}

.img2{
	border-radius:100% 0% 100% 0%;
}

.img3{
	width:20px;
	margin-left:40px;
	border-radius:0% 0% 50% 50%;
	clear:left;
}

header p{
	font-size:80px;
	display:inline;
	margin-left:250px;
}

.nav1{
	text-align:center;
	vertical-align: middle;
	margin-top:5px;
}

.nav1 a{
	display:inline-block;
	width:200px;
	font-size:30px;
	padding:10px 0px;
	border-bottom:2px solid #fff;;
	color:#fff;
	background-color:#0090a8;
	text-decoration:none;
	transition:0.3s;
}

.nav1 a:hover{
	color:#000;
	padding-bottom:0px;
}

.C:hover{
	border-bottom:10px solid #9a4fe9;
	background-color:#efdfff;
}

.HTMLCSS:hover{
	border-bottom:10px solid #49ba80;
	background-color:#afffd6;
}

.JavaScript:hover{
	border-bottom:10px solid #274eb1;
	background-color:#b9caf6;
}

.Ruby:hover{
	border-bottom:10px solid #e23254;
	background-color:#fbb2c0;
}

.Java:hover{
	border-bottom:10px solid #9d793c;
	background-color:#e0c79c;
}

.Python:hover{
	border-bottom:10px solid #00b6e2;
	background-color:#a3ecfc;
}

footer{
	height:150px;
	width:1300px;
	background-color:#000;
	clear:left;
}

footer p{
	font-size:30px;
	color:#fff;
	margin:5px 10px;
	float:left;
}

.twitter{
	clear:left;
}

footer img{
	height:50px;
	border:10px solid #000;
	margin:10px 30px;
	transition:0.3s;
	float:left;
}

footer img:hover{
	padding-bottom:5px;
	border-bottom:5px solid #0090a8;
}

.link{
	text-decoration:none;
	font-size:15px;
	color:#fff;
	padding-bottom:5px;
	border-bottom:2px solid #fff;
	margin-right:40px;
	transition:0.2s;
	float:right;
}

.link:hover{
	padding-bottom:10px;
}
