.top-wrapper{
	padding-bottom:100px;
}

.c{
	color:#efdfff;
	background-color:#9a4fe9;
}

.htmlcss{
	color:#afffd6;
	background-color:#49ba80;
}

.work-wrapper{
	padding-bottom:50px;
	background-color:#f6f6f6;
	text-align:center;
}

.work{
	display:block;
	width:23%;
	padding:10px 10px;
	border-radius:10px;
	margin:0px 1% 100px 1%;
	background-color:#fff;
	box-shadow:0px 5px #e0e0e0;
 	transition:background-color 0.5s;
	float:left;
}

.works{
	background-color:#f6f6f6;
}

.c .work:hover{
	background-color:#efdfff;
}

.work:active{
	position:relative;
	top:5px;
	box-shadow:none;
}

.title{
	height:50px;
}

.title p{
	display:inline;
	font-size:30px;
	font-weight:bold;
	line-height:50px;
	color:#5c5c5c;
}

.work img{
	width:60%;
}

.txt-contents{
	width:80%;
	font-size:15px;
	line-height:17px;
	display:inline-block;
	color:#5c5c5c;
}

@media(max-width:959px){
	.work{
		width:48%;
	}

	.htmlcss h2{
		font-size:27px;
	}

	.htmlcss h3{
		font-size:17px;
	}
}

@media(max-width:559px){
	.work{
		width:98%;
	}

	.htmlcss h2{
		font-size:23px;
	}

	.htmlcss h3{
		font-size:13px;
	}
}
