h1{
	text-align:center;
	margin-top:100px;
}

article{
	width:400px;
	height:500px;
	border:3px solid #000;
	margin:20px 10px;
	float:left;
}

.object img{
	width:400px;
	height:400px;
	background-size:contain;
	background-repeat:no-repeat;
}

.work{
	width:400px;
	height:100px;
	text-align:center;
}

article a{
	font-size:40px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	border-bottom:5px double #0090a8;
	transition:0.2s;
}

article a:hover{
	color:#0090a8;
	padding-left:30px;
	padding-right:30px;
}
